target/
.svn/
junit-merger/
.project
.settings/
s3tests_*
.vscode/
.factorypath
logs/
awstests.ini
s3tests_*
s3tests.ini
*.sh
*.bat
.classpath
junit-merger.exe
xunit-to-html-master/
suwon*
bundang*
allinone*
config.ini