target/
.svn/
junit-merger/
.settings/
.project
.vscode/*
!.vscode/settings.json
xunit-to-html-master/
logs/
s3tests_*
s3tests-*
.factorypath
awstests.ini
s3tests-*
s3tests.ini
run_jenkins*
.classpath
junit-merger.exe
suwon*
bundang*
allinone*
*.ini
*.ps1
!start.ps1
!start-function.ps1
.editorconfig
.prettierrc
results/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
.env
.python-version
*.egg-info/